__pycache__
*/__pycache__
.python-version
*.egg-info/*
*.pt
*.pickle
rolim/notebooks/data
rolim/notebooks/figures

rolim/notebooks/data/cifar10/cifar-10-python.tar.gz
rolim/notebooks/data/cifar10/cifar-10-batches-py/batches.meta
rolim/notebooks/data/cifar10/cifar-10-batches-py/data_batch_1
rolim/notebooks/data/cifar10/cifar-10-batches-py/data_batch_2
rolim/notebooks/data/cifar10/cifar-10-batches-py/data_batch_3
rolim/notebooks/data/cifar10/cifar-10-batches-py/data_batch_4
rolim/notebooks/data/cifar10/cifar-10-batches-py/data_batch_5
rolim/notebooks/data/cifar10/cifar-10-batches-py/readme.html
rolim/notebooks/data/cifar10/cifar-10-batches-py/test_batch
rolim/data/cifar_10/cifar-10-batches-py/batches.meta
rolim/data/cifar_10/cifar-10-batches-py/data_batch_1
rolim/data/cifar_10/cifar-10-batches-py/data_batch_2
rolim/data/cifar_10/cifar-10-batches-py/data_batch_3
rolim/data/cifar_10/cifar-10-batches-py/data_batch_4
rolim/data/cifar_10/cifar-10-batches-py/data_batch_5
rolim/data/cifar_10/cifar-10-batches-py/readme.html
rolim/data/cifar_10/cifar-10-batches-py/test_batch
rolim/data/cifar10/cifar-10-batches-py/batches.meta
rolim/data/cifar10/cifar-10-batches-py/data_batch_1
rolim/data/cifar10/cifar-10-batches-py/data_batch_2
rolim/data/cifar10/cifar-10-batches-py/data_batch_3
rolim/data/cifar10/cifar-10-batches-py/data_batch_4
rolim/data/cifar10/cifar-10-batches-py/data_batch_5
rolim/data/cifar10/cifar-10-batches-py/readme.html
rolim/data/cifar10/cifar-10-batches-py/test_batch
rolim/data/cifar_10/cifar-10-python.tar.gz
rolim/data/cifar10/cifar-10-python.tar.gz
diagram/lwm_diagram.pdf.autosave.ipe
rolim/encoder/runs/
